<form method="post" action="{{ url_for('home.home') }}">
    <div class="form-group">
        {{ feed_form.category.label(class="form-control-label") }}
        {{ feed_form.category(class="form-control") }}
        {% if feed_form.category.errors %}
            {% for error in feed_form.category.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ feed_form.url.label(class="form-control-label") }}
        {{ feed_form.url(class="form-control") }}
        {% if feed_form.url.errors %}
            {% for error in feed_form.url.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ feed_form.category.label(class="form-control-label") }}
        {{ feed_form.category(class="form-control", list="category-list") }}
        <datalist id="category-list">
            {% for category in categories %}
            <option value="{{ category }}">
            {% endfor %}
        </datalist>
        {% if feed_form.category.errors %}
            {% for error in feed_form.category.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        {{ feed_form.submit(class="btn btn-primary") }}
    </div>
</form>