{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block head %}
    <style>
        .card-img-top, .content img {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{{ category.name }}</h2>

    <!-- Buttons for Showing Feeds and Adding Feed -->
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#feedsList" aria-expanded="false" aria-controls="feedsList">
            <span class="feeds-toggle-icon">+</span> Show All Feeds
        </button>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#addFeedSection" aria-expanded="false" aria-controls="addFeedSection">
            <span class="add-feed-toggle-icon">+</span> Add Feed
        </button>
    </div>

    <!-- Collapsible List of Feeds -->
    <div class="collapse" id="feedsList">
        <h4>Feeds</h4>
        <ul class="list-group mt-2">
            {% for feed in feeds %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ feed.name }}
                    <span class="settings-gear">
                        <a href="/edit_feed/{{ feed.id }}"><i class="fas fa-cog"></i></a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Collapsible Add Feed Form -->
    <div class="collapse" id="addFeedSection">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <h3 class="text-center">Add New Feed to "{{ category.name }}"</h3>
                {% with all_categories=[category] %}
                    {% include 'feed_form.html' %}
                {% endwith %}
            </div>
        </div>
    </div>

    <!-- Items from All Feeds in the Category -->
    <div>
        <h4>Items in "{{ category.name }}" Category</h4>
        <div class="row">
            {% for item in items %}
                <div class="col-md-6">
                    <div class="card mt-3">
                        <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}" onerror="this.style.display='none'">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.domain }} | {{ item.author }} | {{ item.date_published.strftime('%Y-%m-%d') }}</h6>
                            <p class="card-text excerpt">{{ item.excerpt }}</p>
                            <div class="card-text content" style="display:none;">{{ item.content | safe }}</div>
                            <div class="d-flex justify-content-between align-items-center">
                                {% if item.content|length > item.excerpt|length %}
                                    <a href="#" class="card-link toggle-content" data-content-shown="false">Read More</a>
                                {% else %}
                                    <div></div> <!-- Placeholder for alignment when "Read More" is not present -->
                                {% endif %}
                                <a href="{{ item.url }}" class="card-link" target="_blank" title="Open in new tab">Open in new tab <i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.toggle-content').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            var cardBody = this.closest('.card-body');
            var contentShown = this.getAttribute('data-content-shown') === 'true';
            cardBody.querySelector('.excerpt').style.display = contentShown ? 'block' : 'none';
            cardBody.querySelector('.content').style.display = contentShown ? 'none' : 'block';
            this.textContent = contentShown ? 'Read More' : 'Show Less';
            this.setAttribute('data-content-shown', !contentShown);
        });
    });

    document.querySelectorAll('.btn[data-bs-toggle="collapse"]').forEach(function(button) {
        button.addEventListener('click', function() {
            var icon = button.querySelector('span');
            if (icon.textContent === '+') {
                icon.textContent = '-';
            } else {
                icon.textContent = '+';
            }
        });
    });
</script>

{% endblock %}
